*{
    line-height: 1.6;
    box-sizing:border-box;
}
/*main elements*/
body{
    background: linear-gradient(80deg, rgba(255, 133, 239,0.8),rgba(243, 77, 132,0.4),rgba(24, 179, 190,0.3));
    font-family: Trirong, sans-serif, 'Courier New', Courier, monospace;
    margin:0;
    top: 0;
    font-size: 20px;
}
a{
    text-decoration:none;
    color:black;
}
.collect a:hover{
    border-bottom: solid 3.5px black;
    color:blue;
}
.collect ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;;
}
.collect li{
    padding: 0 30px;
}
/*Containers*/
.collect{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contain{
    height: 65px;
    background-color: rgba(230, 223, 223, 0.5);
    

}
.logo{
    margin-left: 40px;
    font-style: italic;
    font-size: larger;
}
.images{
   border: solid 3px rgb(17, 31, 155,0.3);
   width: 200px;
   padding: 5px;
   display:flex;
   flex-direction: column;
   align-items: center;
}
.images:hover{
    border: solid 2.5px black;
    cursor: pointer;
}
.images img{
    height: 180px;
    width: 150px;
    justify-content: space-between;

}
.subelements{
          display: grid;
          grid-template-columns:3fr 1fr ;
          justify-content: space-between;
          gap:80px;
          margin-top: 0px;
         
}
.imagecontain{
    display: flex;
    justify-content: space-around;
    
}
.tiles{
    background-color: rgba(230, 223, 223, 0.5);
    margin-top: 70px;
    height: 430px;
    margin-left:10px;
    padding: 10px;
}
.signbox{
    margin-top: 100px;
    background:white;
    width: 300px;
    height:450px;
    border-radius: 15px;
   
}
.signbox form{
    
}
.elements{
    position: relative;
    height: 400px;
    background-color: rgba(230, 223, 223, 0.5);
}
.boxments{
    padding: 10px 0;
    margin: 0px 10px;
}
.boxments input[type='text'],
.boxments input[type='gmail'],
.boxments input[type='password']{
    border: 0;
    border-bottom: solid 1px black;
    width: 100%;
    font-size: 17px;
}
.boxments input:focus{
    outline:none;
}
.signbox h4{
    text-align: center;
}
.box{
    position: relative;
    background:linear-gradient(80deg, rgba(255, 133, 239,0.4),rgba(243, 77, 132,0.4),rgba(24, 179, 190,0.4));
    padding: 5px 50px;
    border: 0;
    cursor: pointer;
    font-size:17px;
}
.box:hover{
    transform: scale(0.8);
}
.btn{
    padding:0 60px;
}
.images p{
    font-size: 18px;
    text-align:center;
}
.signbox p{
    font-size: 15px;
    text-align: center;
}
.signbox a{
    color:rgb(206, 111, 111);
}